.sidepanel {
  position: fixed;
  top: 225px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;

  &__social-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    list-style: none;
  }

  &__link:hover {
    svg {
      path {
        fill: $main-color;
      }
    }
  }

  &__text {
    position: relative;
    width: 25px;
    height: 150px;
    span {
      display: block;
      width: 150px;
      transform: rotate(-90deg) translate(-30%, -300%);
    }

    &::after {
      content: '';
      position: absolute;
      top: -78px;
      right: 12px;
      display: block;
      width: 2px;
      height: 70px;
      background-color: #000000;
    }
  }
}
